<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Camping NL</title>
  <link rel="stylesheet" th:href="@{/styles.css}">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&family=Quicksand&display=swap" rel="stylesheet">
    <link rel="icon" href="favicon.ico">
</head>

<body>

  <section class="colored-section" id="title">
    <nav class="navbar">
      <a class="navbar-brand" href="/camping">Camping NL</a>
      <div class="navbar-box">
        <a class="nav-item" href="/mypage">My Account</a>
        <a class="nav-item" href="/mypage/logout">Log out</a>
      </div>
    </nav>
  </section>

<section class="white-section" id="personal">
  <div class="my-details">
    <table class="user-info" >
      <tr>
        <th>User first name</th>
        <td th:text="${user.getFirstName()}">first-name</td>
      </tr>
      <tr>
        <th>User last name</th>
        <td th:text="${user.getLastName()}" >last-name</td>
      </tr>
      <tr>
        <th>Username</th>
        <td th:text="${user.getUserName()}" >first-name</td>
      </tr>
      <tr>
        <th>Last-visit</th>
        <td th:text="${lastVisit}">0</td>
      </tr>
    </table>
  </div>

  <div class="favorites">
    <h2>Your Favorite Parks</h2>
    <table class="review-table">
      <th>Park Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Website</th>
      <th>Delete</th>
      <tr th:each="park ,inex : ${favoriteParks}">
        <td th:text="${park.getParkName()}"></td>
        <td th:text="${park.address}"></td>
        <td th:text="${park.phone}"></td>
        <td th:text="${park.webSiteAddress}"></td>
        <td>
          <form method="POST" action="/mypage/deletefavorite">
            <button th:name="deletePark" th:value="${park.getParkName()}" type="submit" class="delete-button">-</button>
          </form>
        </td>
      </tr>

    </table>
  </div>




</section>
</body>

</html>
