<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Camping NL</title>
<!--    <link rel="stylesheet" href="styles.css">-->
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&family=Quicksand&display=swap" rel="stylesheet">
</head>

<body>
<section class="colored-section" id="title">
    <nav class="navbar">
        <a class="navbar-brand" href="">Camping NL</a>
        <div class="navbar-box">
            <a class="nav-item" href="#">My Account</a>
            <a class="nav-item" href="#">Log out</a>
        </div>
    </nav>
</section>

<section class="white-section" id="park">
    <div class="park-box">
        <h2 class="province-name" th:text="${provinceName}">Province Name</h2>
        <div class="search-box">
            <h3 class="list-option">List Option : </h3>
            <form class="option-form" action="index.html" method="post">
                <input type="checkbox" name="tent" >
                <label for="tent">Tent Site</label>
                <input type="checkbox" name="caravan">
                <label for="caravan">Caravan Site</label>
                <input type="checkbox" name="bungalow">
                <label for="bungalow">Bungalow</label>
                <input type="checkbox" name="wifi">
                <label for="wifi">Wifi</label>
                <input type="checkbox" name="restaurant">
                <label for="restaurant">Restaurant</label>
                <input type="checkbox" name="animal">
                <label for="animal">Animal-Friendly</label>
                <input type="checkbox" name="pool">
                <label for="pool">Swimming pool</label>
                <button class="search-button" type="submit" name="search-option">Option Search</button>
            </form>
            <hr>
        </div>
    </div>

    <div class="park-list" th:each="park : ${parkList}">
        <div class="park-img">
            <h3 th:text="${park.getParkName()}">Park Name</h3>
            <div class="stars">
                icon
            </div>
            <img alt="park-image" th:src="@{/images/{image} (image=${park.getParkImage()})}">
        </div>
        <div class="park-detail">
            <table class="park-detail-table">
                <tr>
                    <th>Park Name</th>
                    <td>   <h4 th:text="${park.getAddress()}">Address</h4></td>
                </tr>
                <tr>
                    <th>Telephone</th>
                    <td> <h4 th:text="${park.getPhone()}">Phone</h4></td>
                </tr>
                <tr>
                    <th>Website</th>
                    <td><a th:href="'@http://'+ ${park.getWebSiteAddress()}"><h4 th:text="${park.getWebSiteAddress()}">web-site</h4></a></td>
                </tr>
                <tr>
                    <th>Amenity</th>
                    <td>
                        <img class="amenity-icon" src="/images/tent.svg" th:style="${park.getAmenities().isTentSite()}==true ?
                'display : none' :'background : none'">
                        <img class="amenity-icon" src="/images/caravan.svg" th:style="${park.getAmenities().isCaravanSite()}==true ?
                'display : none' :'background : none'">
                        <img class="amenity-icon" src="/images/facade.svg" th:style="${park.getAmenities().isBungalow()}==true ?
                'display : none' :'background : none'">
                        <img class="amenity-icon" src="/images/internet.svg" th:style="${park.getAmenities().isFreeWifi()}==true ?
                'display : none' :'background : none'">
                        <img class="amenity-icon" src="/images/fork.svg" th:style="${park.getAmenities().isRestaurant()}==true ?
                'display : none' :'background : none'">
                        <img class="amenity-icon" src="/images/pool.svg" th:style="${park.getAmenities().isSwimmingPool()}==true ?
                'display : none' :'background : none'">
                        <img class="amenity-icon" src="/images/dog.svg" th:style="${park.getAmenities().isAnimalFriendly()}==true ?
                'display : none' :'background : none'">
                    </td>
                </tr>
            </table>
        </div>
        <div class="review">
            <table class="review-table" >
                <tr>
                    <th>User Name</th>
                    <th>Review</th>
                </tr>
                <tr th:each="review : ${park.getReviews()}">
                    <td th:text="${review.getID()}">Name</td>
                    <td th:text="${review.getContent()}">Contents</td>
                </tr>
            </table>
        </div>
    </div>
</section>

</body>

</html>
