<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Camping NL</title>
<!--    <link rel="stylesheet" href="styles.css">-->
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&family=Quicksand&display=swap" rel="stylesheet">
</head>

<body>
<section class="colored-section" id="title">
    <nav class="navbar">
        <a class="navbar-brand" href="/camping">Camping NL</a>
        <div class="navbar-box">
            <a class="nav-item" href="#">My Account</a>
            <a class="nav-item" href="#">Log out</a>
        </div>
    </nav>
</section>

<section class="white-section" id="park">
    <div class="park-box">
        <hr>
        <h2 class="province-name-parks" th:text="${provinceName}">Province Name</h2>
        <hr>
    </div>
    <h2 class="warning-text" th:text="${warning}"></h2>

    <div class="park-list" th:each="park, index : ${parkList}">
        <div class="park-name-box">
        <h3 class="park-list-name" th:text="${park.getParkName()}">Park Name</h3>
        <form th:name="favoriteParkName" th:value="${park.getParkName()}" method="POST" action="/addfavorite">
            <button type="submit" class="non-favotie-park">add</button>
<!--            <button type="submit" th:classappend="${myList.contains(${park})} ? favorite-park:non-favotie-park ">add</button>-->
        </form>
        </div>
        <div>
        <div class="park-img-box">
            <div class="stars">
                <img th:each="i : ${#numbers.sequence(1,park.getAverageOfRating())}"
                   class="amenity-icon" src="/images/star.svg">
            </div>
            <img class="park-img" alt="park-image" th:src="@{/images/{image} (image=${park.getParkImage()})}">
        </div>
        <div class="park-detail">
            <table class="park-detail-table">
                <tr>
                    <th>Park Name</th>
                    <td>   <h4 th:text="${park.getAddress()}">Address</h4></td>
                </tr>
                <tr>
                    <th>Telephone</th>
                    <td> <h4 th:text="${park.getPhone()}">Phone</h4></td>
                </tr>
                <tr>
                    <th>Website</th>
                    <td><a th:href="'@http://'+ ${park.getWebSiteAddress()}"><h4 th:text="${park.getWebSiteAddress()}">web-site</h4></a></td>
                </tr>
                <tr>
                    <th>Amenity</th>
                    <td>
                        <img class="amenity-icon" src="/images/tent.svg" th:style="${park.getAmenities().isTentSite()}==true ?
                'background : none' :'display : none'">
                        <img class="amenity-icon" src="/images/caravan.svg" th:style="${park.getAmenities().isCaravanSite()}==true ?
                'background : none' :'display : none'">
                        <img class="amenity-icon" src="/images/facade.svg" th:style="${park.getAmenities().isBungalow()}==true ?
                'background : none' :'display : none'">
                        <img class="amenity-icon" src="/images/internet.svg" th:style="${park.getAmenities().isFreeWifi()}==true ?
                'background : none' :'display : none'">
                        <img class="amenity-icon" src="/images/fork.svg" th:style="${park.getAmenities().isRestaurant()}==true ?
                'background : none' :'display : none'">
                        <img class="amenity-icon" src="/images/pool.svg" th:style="${park.getAmenities().isSwimmingPool()}==true ?
                'background : none' :'display : none'">
                        <img class="amenity-icon" src="/images/dog.svg" th:style="${park.getAmenities().isAnimalFriendly()}==true ?
                'background : none' :'display : none'">
                    </td>
                </tr>
            </table>
        </div>
        <div class="review">
            <table class="review-table" >
                <tr>
                    <th>User Name</th>
                    <th>Review</th>
                    <th>Rating</th>
                </tr>
                <tr th:each="review : ${park.getReviews()}">
                    <td th:text="${review.getId()}">Name</td>
                    <td class="review-content" th:text="${review.getContent()}">Contents</td>
                    <td th:text="${review.getSatisfactionScore()}">rating</td>
                </tr>
            </table>
            <hr>
            <form class="review-form"  th:action="@{/camping/__${provinceName}__/addreview}" method="POST">
                <label for="id">User Name:</label>
                <input class="review-id" type="text" name="id" id="id"/>
                <label for="score">Rating(1~5):</label>
                <select type="text" name="satisfactionScore" id="score">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <textarea class="review-writing-box" type="text" name="content" id="content"
                          placeholder="You can comment here..."></textarea>

                <button class="province-search-button review-save"  th:value="${index.index}" type="submit" name="reviewIndex">Save</button>
            </form>
        </div>
        </div>
    </div>
</section>

</body>

</html>
