<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Camping NL</title>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&family=Quicksand&display=swap" rel="stylesheet">
</head>

<body>
  <section class="colored-section" id="title">
    <nav class="navbar">
      <a class="navbar-brand" href="/camping">Camping NL</a>
      <div class="navbar-box">
        <a class="nav-item" href="/mypage">My Account</a>
        <a class="nav-item" href="/mypage/logout">Log out</a>
      </div>
    </nav>
    <div class="heading-box">
      <div class="container-heading">
        <h1 class="big-heading">Enjoy camping life.</h1>
      </div>
        <div class="image-box">
          <img class="title-image" src="images/camping-image.jpg" alt="camping-image">
        </div>
      </div>


    <div class="search-box">
      <h3 class="list-option">View all Parks with Option </h3>
      <form class="option-form" action="/camping/searchparks" method="GET">
        <div class="checkbox">
          <input type="checkbox" name="checkboxAmenities" id="tent" value="tent">
          <label for="tent">Tent Site</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" name="checkboxAmenities" id="caravan" value="caravan">
          <label for="caravan">Caravan Site</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" name="checkboxAmenities" id="bungalow" value="bungalow">
          <label for="bungalow">Bungalow</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" name="checkboxAmenities" id="wifi" value="wifi">
          <label for="wifi">Wifi</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" name="checkboxAmenities" id="restaurant" value="restaurant">
          <label for="restaurant">Restaurant</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" name="checkboxAmenities" id="animal" value="dog">
          <label for="animal">Animal-Friendly</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" name="checkboxAmenities" id="pool" value="pool">
          <label for="pool">Swimming pool</label>
        </div>
        <input class="checkbox-hidden" type="checkbox" name="checkboxAmenities" value="null" checked>
        <button class="search-button" type="submit" name="search-option">Option Search</button>
      </form>
    </div>


  </section>

  <section class="white-section" id="province">

    <table class="visited-table">
      <tr>
        <th>Visited Provinces</th>
        <td th:each="proName :${visitedProvince}"><a th:text="${proName}" th:href="@{/camping/{pro}(pro=${proName})}"></a></td>
      </tr>
    </table>

    <h1>Netherlands Provinces</h1>
    <form class="search-form" action="/camping/findprovince" method="POST" autocomplete="off" >
      <input class="search-text" type="text" name="search" placeholder="Province name.." list="datalist1" >
      <datalist id="datalist1">
          <option th:each="province :${provinces}" th:text="${province.getProvinceName()}"></option>
      </datalist>
      <button class="province-search-button" type="submit" name="park-search-button">Search</button>
    </form>

    <div class="province-list-box">
      <div class="province-box" th:each="province : ${provinces}" >
        <a class="site-link" th:href="'camping/'+${province.getProvinceName()}">
          <p>click!</p>
        <img class="province-flag-img" alt="province-flag" th:src="@{/images/{image}(image=${province.getFlagImage()})}">
        <h2 class="province-name" th:text="${province.getProvinceName()}">Province Name</h2>
        <img class="province-location-img" alt="province-location" th:src="@{/images/{image}(image=${province.getLocationMap()})}">
        </a>
      </div>
    </div>

  </section>

  <footer class="colored-section">
  </footer>

</body>

</html>
