<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Camping NL</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&family=Quicksand&display=swap" rel="stylesheet">
    <link rel="icon" href="favicon.ico">
</head>

<body style="background-color: #ecfbfc">

<section class="colored-section" id="title">
    <nav class="navbar">
        <a class="navbar-brand" href="/camping">Camping NL</a>
        <div class="navbar-box">
            <a class="nav-item" href="/mypage/logout">Back to login</a>
        </div>
    </nav>
</section>

<div class = "centerRegister">

        <h1 class="big-title">Register Camping NL</h1>

        <form action="/register/adduser" method="post">
            <strong>First Name</strong><br/>
            <input type="text" placeholder="Enter first name" name="firstName" required><br/>

            <strong>Last name</strong><br/>
            <input type="text" placeholder="Enter last name" name="lastName" required><br/>

            <strong>Username</strong><br/>
            <input type="text" placeholder="Enter username" name="userName" required><br/>

            <strong>Password</strong><br/>
            <input type="password" placeholder="Enter password" name="password" required><br/>

            <button type="submit">submit</button>
        </form>

        <p th:text="${warning}"></p>
</div>
</body>

</html>
